<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
    {{if .Error}}
    <div class="error">{{.Error}}</div>
    {{end}}
    {{if .ShortURL}}
    <div id="short-url"><a href="http://{{.ShortURL}}">{{.ShortURL}}</a></div>
    {{end}}
    <form method="POST" action="/">
        <input type="text" name="original_url" placeholder="Enter original URL" required autofocus>
        <button type="submit">Shorten</button>
    </form>
    <p align="center">
        <a target="_blank" href="https://github.com/GrayC9/URL-Shortener">Github</a>
    </p>
</div>
</body>
</html>
